{% extends 'base.html' %}

{% block content %}
	<h1>Вы хотите завершить тест?</h1>
	<hr>
	<form method="POST" action="{% url 'game:finish_part_post' real_user.nickname%}">
		{% csrf_token %}
		<div>
			<button class="btn btn-outline-secondary" type="submit" id="return" name='return' style="background: black">Предыдущий вопрос</button>
			<button class="btn btn-outline-secondary" type="submit" id="next" name='next' style="background: black">Закончить тест</button>
		</div>
	</form>
{% endblock %}